* {
    background-color: #0883AA;
    font-family: "rock";
}

@font-face {
    font-family: "rock";
    src: url(./fonts/RocknRollOne-Regular.ttf);
}

header {
    margin-left: 350px;
    margin-bottom: 100px;
}

.menu,
.logo,
.buscador,
.lupa,
.log,
.nosotros,
.locales,
.catalogos,
.contacto {
    background-color: white;
    margin-right: 150px;
    border-radius: 25px;
}

.logo {
    margin-top: 10px;
}

.img1 {
    margin-left: 200px;
    margin-right: 25px;
    height: 200px;
    width: 300px;
    border-radius: 60px;
}

.img2,
.img3,
.img4 {
    margin-right: 25px;
    height: 200px;
    width: 300px;
    border-radius: 60px;
}

.navegacion {
    margin-left: 450px;
}

.navigation {
    margin-right: 150px;
    margin-top: 100px;
    border-radius: 10px;
    padding: auto;
}

.fot {
    border-color: red;
    width: 100%;

}

.pie1 {
    width: 50%;
    margin-top: 100px;
    margin-left: 15rem;
    background-color: green;
}

.pie2 {

    width: 50%;
    margin-left: 80rem;
    margin-bottom: 10rem;
    background-color: grey;
}

.stone {
    height: 30rem;
    width: 30rem;
    margin-left: 40REM;

}

p {
    text-align: center;
    margin-bottom: 5REM;
    width: 30REM;
    margin-left: 40REM;

}

form {
    margin-left: 25rem;
    width: 50%;
    height: 15rem;
    display: grid;
    justify-items: center;
}

input::placeholder {
    color: black;
}

.inputform {
    width: 70%;
    background-color: white;
}

.video {
    margin-left: 37rem;
}

.mapa {
    margin-left: 37rem;
}

.locs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}